* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("../inter/Inter-Regular.woff2") format("woff2");
  src: url("../inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
}
body {
  background-color: black;
}
.backDrop {
  margin: 0 auto;
  width: 90rem;
  height: 274.25rem;
  display: none;
  background-color: #403f3dcc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.mainContainer {
  width: 90rem;
  height: 274.25rem;
  margin: 0 auto;
  background-color: #e1d4c9;
}

/* Header //////////////////////////////////////////////////////////////////////////////*/
.header {
  width: 90rem;
  height: 45.25rem;
  /* height: 3.75rem; */
}
.headerMenu {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
}
.video {
}
.nav {
  display: flex;
  font-size: 2rem;
  list-style-type: none;
  gap: 0.25rem;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
li {
  width: 7.313rem;
  height: 1.75rem;
  font-size: 1rem;
  font-family: Inter;
}
.coffee-menu {
  justify-content: space-between;
  width: 4.5rem;
  height: 1.75rem;
  font-size: 1rem;
  gap: 0.5rem;
}
.coffee-menuMain {
  justify-content: space-between;
  width: 4.5rem;
  height: 1.75rem;
  font-size: 1rem;
  gap: 0.25rem;
  display: flex;
}
.coffee-menuMenu {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Inter;
  cursor: pointer;
}
.coffee-menuLineMain {
  width: 6rem;
  display: flex;
  justify-content: center;
}
.coffee-menuLine {
  width: 1rem;
  height: 0.1rem;
  background-color: #403f3d;
  transition: 1s;
  opacity: 0;
  align-self: center;
}
.coffee-menu:hover .coffee-menuLine {
  width: 6rem;
  opacity: 1;
}
.fa-mug-hot {
  margin-top: 0.5rem;
  margin-left: 0.625rem;
}
.hero {
  width: 90rem;
  height: 40.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;
  /* display: none; */
}
.videoMain {
  width: 100%;
  height: 100%;
  position: relative;
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 2.5rem;
  z-index: 1;
}
.hero-text {
  width: 33.125rem;
  height: 27.75rem;
  color: white;
  position: absolute;
  z-index: 2;
}
.hero-textMain {
  width: 33.125rem;
  height: 14.25rem;
  font-size: 4rem;
  padding-top: 5rem;
  padding-left: 5rem;
  font-family: Inter;
  color: #e1d4c9;
  cursor: context-menu;
}
.bold {
  color: #b0907a;
  font-weight: 800;
  font-style: italic;
  cursor: context-menu;
}
.hero-textSaid {
  font-size: 0.8rem;
  margin-top: 2rem;
  padding-top: 5rem;
  padding-left: 5rem;
  font-family: Inter;
  color: #e1d4c9;
  cursor: context-menu;
}
.heroMenu {
  width: 12.5rem;
  height: 4rem;
  margin-top: 5rem;
  margin-left: 5rem;
  background-color: #e1d4c9;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
}
.heroMenuMain {
  display: flex;
  justify-content: center;
}
.heroMenuText {
  align-self: center;
  margin-left: 2rem;
  transition: 1s;
}
.heroMenu .fa-mug-hot {
  margin-bottom: 0.5rem;
  opacity: 0;
  transition: 1s;
}
.heroMenu:hover .fa-mug-hot {
  opacity: 1;
  transition: 1s;
}
.heroMenu:hover .heroMenuText {
  margin-left: 0rem;
  transition: 1s;
}
/* Header END //////////////////////////////////////////////////////////////////////////////*/

/* Первый  main container first //////////////////////////////////////////////////////////////////////////////*/
.mainFirst {
  /* display: none; */
}
.slider {
  width: 90rem;
  height: 49.938rem;
  margin-top: 6.25rem;
  position: relative;
}
.sliderText {
  text-align: center;
  font-size: 3.75rem;
  color: #403f3d;
  font-family: Inter;
  font-weight: 600;
  cursor: context-menu;
}
.sliderContainer {
  display: flex;
  margin: 0 auto;
  width: 30rem;
  height: 45rem;
  overflow: hidden;
}
.sliderMain {
  display: flex;
  width: 90rem;
  position: relative;
  left: 0;
  transition: 1s;
  gap: 20rem;
}
.coffeeSlider1 {
  margin: 0 auto;
  width: 30rem;
  height: 45rem;
  justify-content: center;
}
.coffeeSlider2 {
  margin: 0 auto;
  width: 30rem;
  height: 45rem;
  justify-content: center;
}
.coffeeSlider3 {
  margin: 0 auto;
  width: 30rem;
  height: 45rem;
  justify-content: center;
}
.coffeeTextSliderMain {
  width: 30rem;
  height: 2rem;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 600;
  cursor: context-menu;
}
.coffeeTextSliderText {
  margin-top: 1.25rem;
  width: 30rem;
  height: 2.5rem;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  cursor: context-menu;
}
.coffeeTextSliderPriсe {
  margin-top: 1.25rem;
  width: 30rem;
  height: 2rem;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: context-menu;
}
.arrowLeft {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  background-color: #e1d4c9;
  margin-left: 2.5rem;
  position: absolute;
  top: 23rem;
  cursor: pointer;
}
.fa-arrow-left {
  font-size: 1rem;
  color: black;
}
.arrowLeft:hover {
  background-color: #665f55;
  transition: 1s;
}
.arrowLeft:hover .fa-arrow-left {
  color: #e1d4c9;
  transition: 1s;
}
.arrowRight {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  background-color: #e1d4c9;
  margin-right: 2.5rem;
  position: absolute;
  right: 0;
  top: 23rem;
  cursor: pointer;
}
.fa-arrow-right {
  font-size: 1rem;
  color: black;
}
.arrowRight:hover {
  background-color: #665f55;
  transition: 1s;
}
.arrowRight:hover .fa-arrow-right {
  color: #e1d4c9;
  transition: 1s;
}
.controls {
  width: 9rem;
  height: 0.5rem;
  font-size: 0.75rem;
  margin: 0 auto;
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.control1 {
  width: 2.5rem;
  height: 0.5rem;
  background-color: #c1b6ad;
  border-radius: 0.5rem;
}
.control2 {
  width: 2.5rem;
  height: 0.5rem;
  background-color: #c1b6ad;
  border-radius: 0.5rem;
}
.control3 {
  width: 2.5rem;
  height: 0.5rem;
  background-color: #c1b6ad;
  border-radius: 0.5rem;
}
.controlActive {
  background-color: #665f55;
}
.about {
  width: 90rem;
  height: 82.813rem;
  margin-top: 6.25rem;
}
.aboutMain {
  width: 85rem;
  height: 82.813rem;
  margin: 0 2.5rem 0 2.5rem;
}
.aboutText {
  width: 85;
  min-height: 14.063rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 3.8rem;
  text-align: justify;
  cursor: context-menu;
}
.aboutImgMain {
  display: flex;
  margin-top: 3rem;
}
.aboutImgLeft {
  width: 41.25;
  height: 66.25;
}
.aboutImgRight {
  width: 41.25;
  height: 66.25;
  margin-left: 2.5rem;
}
.aboutImg1 {
  width: 41.25rem;
  height: 36.875rem;
  border-radius: 1.25rem;
  background-image: url("../img/about-1.jpg");
  background-size: 110%;
  background-position: center;
  transition: background-size 1s ease;
  cursor: pointer;
}
.aboutImg1:hover {
  background-size: 100%;
}
.aboutImg2 {
  margin-top: 1.25rem;
  width: 41.25rem;
  height: 26.875rem;
  border-radius: 1.25rem;
  background-image: url("../img/about-2.jpg");
  background-size: 110%;
  background-position: center;
  transition: background-size 1s ease;
  cursor: pointer;
}
.aboutImg2:hover {
  background-size: 100%;
}
.aboutImg3 {
  width: 41.25rem;
  height: 26.875rem;
  border-radius: 1.25rem;
  background-image: url("../img/about-3.jpg");
  background-size: 110%;
  background-position: center;
  transition: background-size 1s ease;
  cursor: pointer;
}
.aboutImg3:hover {
  background-size: 100%;
}
.aboutImg4 {
  margin-top: 1.25rem;
  width: 41.25rem;
  height: 36.875rem;
  border-radius: 1.25rem;
  background-image: url("../img/about-4.jpg");
  background-size: 110%;
  background-position: center;
  transition: background-size 1s ease;
  cursor: pointer;
}
.aboutImg4:hover {
  background-size: 100%;
}
.mobileApp {
  width: 90rem;
  height: 39.375rem;
  border-radius: 2.5rem;
}
.mobileContainer {
  margin: 0 auto;
  margin-top: 6.25rem;
  width: 85rem;
  height: 39.375rem;
  display: flex;
  gap: 6.25rem;
}
.offer {
  width: 39.375rem;
  height: 21.375rem;
  align-self: center;
}
.offerMain {
}
.offerH1 {
  width: 100%;
  height: 9.375rem;
  font-size: 3.75rem;
  font-family: Inter;
  font-weight: 600;
  color: #403f3d;
  text-align: justify;
  cursor: context-menu;
}
.offerText {
  margin-top: 2.5rem;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 400;
  color: #403f3d;
  text-align: justify;
  cursor: context-menu;
}
.offerButtons {
  display: flex;
  width: 26.25rem;
  height: 4rem;
  margin-top: 1.25rem;
  gap: 1.25rem;
}
.buttonApp {
  width: 12.5rem;
  height: 4rem;
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
}
.buttonMargin {
  display: flex;
  margin: 0 auto;
}
.fa-apple {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 2.25rem;
  align-self: center;
  color: #403f3d;
}
.buttonAppTextMain {
  margin-left: 0.5rem;
  align-self: center;
}
.buttonAppText {
  width: 4.813rem;
  height: 0.875rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 0.625rem;
  color: #403f3d;
}
.buttonAppText1 {
  width: 4.813rem;
  height: 1.5rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  color: #403f3d;
}
.buttonApp:hover {
  background-color: #665f55;
  transition: 1s;
  cursor: pointer;
}
.buttonApp:hover .fa-apple {
  color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.buttonApp:hover .buttonAppText {
  color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.buttonApp:hover .buttonAppText1 {
  color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.buttonGoogle {
  width: 12.5rem;
  height: 4rem;
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
}

.buttonGoogle:hover {
  background-color: #665f55;
  transition: 1s;
  cursor: pointer;
}
.buttonGoogle:hover .buttonGoogleText {
  color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.buttonGoogle:hover .buttonGoogleText1 {
  color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.buttonGoogle:hover .fa-google-play {
  color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.fa-google-play {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 2.25rem;
  align-self: center;
  color: #403f3d;
}
.buttonGoogleTextMain {
  margin-left: 0.5rem;
  align-self: center;
}
.buttonGoogleText {
  width: 3.688rem;
  height: 0.875rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 0.625rem;
  color: #403f3d;
}
.buttonGoogleText1 {
  width: 5.75rem;
  height: 1.5rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  color: #403f3d;
}
.mobileScreens {
}
/* Конец main container //////////////////////////////////////////////////////////////////////////////*/

/* Main container second //////////////////////////////////////////////////////////////////////////////*/
.mainSecond {
  width: 90rem;
  height: 83rem;
  padding: 0 2.5rem 0 2.5rem;
  margin-top: 1.25rem;
  display: none;
}
.secondContainer {
  width: 85rem;
  height: 83rem;
}
.offerSecond {
  width: 85rem;
  height: 14.75rem;
  display: grid;
  justify-content: center;
}
.offerSecondText {
  width: 50rem;
  height: 9.375rem;
  font-family: Inter;
  font-size: 3.75rem;
  text-align: center;
  font-weight: 600;
}
.offerSecondTabsContainer {
  width: 50rem;
  height: 9.375rem;
  display: flex;
  justify-content: center;
}
.offerSecondTabs {
  margin-top: 2.5rem;
  width: 22.563rem;
  height: 2.875rem;
  display: flex;
  margin: 0auto;
  gap: 1rem;
  justify-content: center;
}
.coffeeTabsMain {
  width: 7.188rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #c1b6ad;
  gap: 0.5rem;
  cursor: pointer;
}
.activeTabs {
  background-color: #665f55;
}
.coffeeTabsIcon {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #c1b6ad;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coffeeTabsText {
  width: 3.313rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.teaTabsMain {
  width: 5.625rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  border: solid 1px #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.teaTabsIcon {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #c1b6ad;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teaTabsText {
  width: 1.75rem;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.dessertTabsMain {
  width: 7.75rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  border: solid 1px #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.dessertTabsIcon {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #c1b6ad;
  border-radius: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dessertTabsText {
  width: 3.875rem;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  align-items: center;
}

/* Вкладка коффе //////////////////////////////////////////////////////////////////////////////*/

.gridCoffeeMain {
  margin-top: 2.5rem;
  width: 85rem;
  height: 65.75rem;
  gap: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}
.coffeeGrid1 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid2 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid3 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid4 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid5 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid6 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid7 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.coffeeGrid8 {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.IrishCoffeeImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-1.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.IrishCoffeeImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.IrishCoffeeH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.IrishCoffeeText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.IrishCoffeePrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.KahluaCoffeeImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-2.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.KahluaCoffeeImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.KahluaCoffeeH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.KahluaCoffeeText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.KahluaCoffeePrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.HoneyRafImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-3.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.HoneyRafImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.HoneyRafH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.HoneyRafText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.HoneyRafPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.IceCappuccinoImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-4.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.IceCappuccinoImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.IceCappuccinoH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.IceCappuccinoText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.IceCappuccinoPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.EspressoImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-5.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.EspressoImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.EspressoH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.EspressoText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.EspressoPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.LatteImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-6.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.LatteImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.LatteH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.LatteText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.LattePrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.LatteMacchiatoImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-7.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.LatteMacchiatoImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.LatteMacchiatoH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.LatteMacchiatoText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.LatteMacchiatoPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.CoffeeWithCognacImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/coffee-8.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.CoffeeWithCognacImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.CoffeeWithCognacH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.CoffeeWithCognacText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.CoffeeWithCognacPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Вкладка покупки коффе //////////////////////////////////////////////////////////////////////////////*/
.coffeeBuyMenuContainer {
  width: 50rem;
  height: 31.5rem;
  border-radius: 2.25rem;
  padding: 1rem;
  background-color: #e1d4c9;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.coffeeBuyMenu {
  width: 48rem;
  height: 29.5rem;
  display: flex;
  border-radius: 2.25rem;
}
.IrishCoffeeImg {
}
.coffeeBuyMenuMain {
  width: 28.625rem;
  height: 29.5rem;
  padding-left: 1.25rem;
  gap: 1.25rem;
  display: grid;
}
.coffeeBuyMenuTitle {
  width: 27.375rem;
  height: 5.625rem;
  display: grid;
  gap: 0.75rem;
}
.coffeeBuyMenuTitleH1 {
  width: 27.375rem;
  height: 1.875rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  color: #403f3d;
}
.coffeeBuyMenuTitleText {
  width: 27.375rem;
  height: 3rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  color: #403f3d;
}
.coffeeBuyMenuSize {
  width: 27.375rem;
  height: 4.875rem;
  display: grid;
  gap: 0.5rem;
}
.coffeeBuyMenuSizeText {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  color: #403f3d;
}
.SizeTabs {
  width: 27.375rem;
  height: 2.875rem;
  display: flex;
  gap: 0.5rem;
}
.SizeActive {
  background-color: #403f3d;
}
.SizeS {
  width: 7.25rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.SizeSIcon {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 6.25rem;
  background-color: #e1d4c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SizeSIconText {
  width: 0.688rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.SizeSText {
  width: 3.375rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  color: #e1d4c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SizeM {
  width: 7.25rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1b6ad;
}
.SizeMIcon {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 6.25rem;
  background-color: #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SizeMIconText {
  width: 0.938rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.SizeMText {
  width: 3.375rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  color: #403f3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SizeL {
  width: 7.25rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1b6ad;
}
.SizeLIcon {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 6.25rem;
  background-color: #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SizeLIconText {
  width: 0.938rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.SizeLText {
  width: 3.375rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  color: #403f3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffeeBuyMenuAdditives {
  width: 27.375rem;
  height: 4.875rem;
  gap: 0.5rem;
  display: grid;
  display: flex;
}
.coffeeBuyMenuAdditivesMain {
  width: 27.375rem;
  height: 4.875rem;
}
.coffeeBuyMenuAdditivesH1 {
  width: 4.438rem;
  height: 1.75rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 400;
  color: #403f3d;
}
.coffeeBuyMenuAdditivesTabs {
  width: 27.375rem;
  height: 2.875rem;
  display: flex;
  gap: 0.5rem;
}
.Additives1 {
  width: 6.75rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  border: 1px solid #c1b6ad;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.AdditivesIcon {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 6.25rem;
  background-color: #c1b6ad;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AdditivesIconText {
  width: 0.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.AdditivesIconText2 {
  width: 0.625rem;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.AdditivesIconText3 {
  width: 0.688rem;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.AdditivesText {
  width: 2.875rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  color: #403f3d;
  display: flex;
  align-items: center;
}
.AdditivesText2 {
  width: 4.938rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  color: #403f3d;
  display: flex;
  align-items: center;
}
.Additives2 {
  width: 8.813rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  border: 1px solid #c1b6ad;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.Additives3 {
  width: 6.75rem;
  height: 2.875rem;
  border-radius: 6.25rem;
  border: 1px solid #c1b6ad;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.coffeeBuyMenuTotal {
  width: 27.375rem;
  height: 1.875rem;
  display: flex;
  gap: 1.25rem;
}
.coffeeBuyMenuTotalText1 {
  width: 13.063rem;
  height: 1.875rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.coffeeBuyMenuTotalText2 {
  width: 13.063rem;
  height: 1.875rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: end;
}
.coffeeBuyMenuAlert {
  width: 27.375rem;
  height: 3.25rem;
  border-top: 1px solid #c1b6ad;
  display: flex;
  gap: 0.5rem;
}
.coffeeBuyMenuAlertIcon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
}
.coffeeBuyMenuAlertIconCircle {
  width: 0.833rem;
  height: 0.833rem;
  border: 1px solid #403f3d;
  border-radius: 1rem;
  position: relative;
}
.coffeeBuyMenuAlertIconSlash {
  width: 1px;
  height: 5px;
  color: #403f3d;
  border: 1px solid #403f3d;
  position: absolute;
  left: 5px;
  top: 5px;
}
.coffeeBuyMenuAlertIconPoint {
  width: 0.01px;
  height: 0.01px;
  color: #403f3d;
  position: absolute;
  left: 3.8px;
  top: -11px;
}
.coffeeBuyMenuAlertText {
  width: 25.875rem;
  height: 1.75rem;
  font-family: Inter;
  font-size: 0.625rem;
  font-weight: 600;
  color: #403f3d;
  display: flex;
  align-self: center;
}
.coffeeBuyMenuClose {
  width: 27.375rem;
  height: 2.75rem;
  border-radius: 6.25rem;
  border: 1px solid #665f55;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.coffeeBuyMenuCloseText {
  width: 2.813rem;
  height: 1.5rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
}
/* Конец вкладки покупки коффе //////////////////////////////////////////////////////////////////////////////*/

/* Конец вкладка коффе////////////////////////////////////////////////////////////////////////////// */

/* Вкладка чай //////////////////////////////////////////////////////////////////////////////*/

.gridTeaMain {
  width: 85rem;
  height: 31.625rem;
  display: flex;
  gap: 2.5rem;
  margin-top: 2.5rem;
  display: none;
}
.teaGrid {
  width: 19.375rem;
  height: 31.625rem;
  border-radius: 2.5rem;
  border: 1px solid #c1b6ad;
  cursor: pointer;
}
.MoroccanImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/tea-1.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.MoroccanImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.GingerImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/tea-2.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.GingerImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.CranberryImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/tea-3.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.CranberryImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.SeaBuckthornImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/tea-4.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.SeaBuckthornImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.teaH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.teaText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.teaPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Конец вкладка чай //////////////////////////////////////////////////////////////////////////////*/

/* Вкладка десерт //////////////////////////////////////////////////////////////////////////////*/

.gridDessertMain {
  margin-top: 2.5rem;
  width: 85rem;
  height: 65.75rem;
  gap: 2.5rem;
  display: none;
  flex-wrap: wrap;
}
.dessertGrid {
  width: 19.375rem;
  height: 31.625rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  cursor: pointer;
}
.dessertH1 {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
}
.dessertText {
  width: 16.875rem;
  height: 4.5rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.dessertPrise {
  width: 16.875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
}
.MarbleCheesecakeImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-1.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.MarbleCheesecakeImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.RedVelvetImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-2.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.RedVelvetImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.CheesecakesImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-3.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.CheesecakesImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.CremeBruleeImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-4.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.CremeBruleeImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.PancakesImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-5.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.PancakesImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.HoneyCakeImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-6.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.HoneyCakeImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.ChocolateCakeImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-7.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.ChocolateCakeImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}
.BlackForestImg {
  width: 19.375rem;
  height: 19.375rem;
  background-image: url("/img/dessert-8.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 1s ease;
  border-radius: 1.5rem;
}
.BlackForestImg:hover {
  background-size: 100%;
  transition: background-size 1s ease;
}

/* Конец вкладки десерт //////////////////////////////////////////////////////////////////////////////*/

/* Main container second END //////////////////////////////////////////////////////////////////////////////*/

/* Footer //////////////////////////////////////////////////////////////////////////////*/
.contacts {
  width: 90rem;
  height: 28.125rem;
  margin-top: 6.25rem;
}
.contactsMain {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 85rem;
  height: 28.125rem;
  border-radius: 2.5rem;
  background-color: #665f55;
}
.contactsOffer {
  width: 33.125rem;
  height: 15.625rem;
  align-self: center;
  margin: 0 2.5rem 0 2.5rem;
}
.contactsOfferText {
  width: 33.125rem;
  height: 9.375rem;
  font-family: Inter;
  font-size: 3.75rem;
  text-align: justify;
  color: #e1d4c9;
  cursor: context-menu;
}
.contactsOfferSocials {
  width: 12.75rem;
  height: 3.75rem;
  gap: 0.75rem;
  margin-top: 2.5rem;
  display: flex;
}
.fa-twitter {
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1.5rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  color: #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-twitter:hover {
  background-color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.fa-instagram {
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1.5rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  color: #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-instagram:hover {
  background-color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.fa-facebook-f {
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1.5rem;
  border: 1px solid #c1b6ad;
  border-radius: 2rem;
  color: #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-facebook-f:hover {
  background-color: #e1d4c9;
  transition: 1s;
  cursor: pointer;
}
.contactsInfo {
  width: 33.125rem;
  height: 11.625rem;
  display: grid;
  gap: 2.5rem;
  align-self: center;
}
.ContactUs {
  width: 33.125rem;
  height: 1.875rem;
  font-family: Inter;
  font-size: 1.5rem;
  color: #e1d4c9;
  margin-bottom: 1.875rem;
  cursor: context-menu;
}
.contactsNumber {
  width: 16.375rem;
  height: 7.25rem;
  display: grid;
  gap: 1rem;
}
.contactsAdressMain {
  width: 11.375rem;
  height: 1.75rem;
  display: grid;
  gap: 0.25rem;
  cursor: pointer;
}
.contactsAdressContainer {
  width: 11.375rem;
  height: 1.5rem;
  gap: 0.5rem;
  display: flex;
}
.fa-location-dot {
  width: 1.25rem;
  height: 1.25rem;
  color: #e1d4c9;
}
.contactsAdress {
  width: 9.625rem;
  height: 1.5rem;
  color: #e1d4c9;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.contactsAdressLineMain {
  width: 11.375rem;
  display: flex;
  justify-content: center;
}
.contactsAdressLine {
  width: 1rem;
  height: 0.1rem;
  background-color: #e1d4c9;
  opacity: 0;
}
.contactsAdressMain:hover .contactsAdressLine {
  width: 11.375rem;
  opacity: 1;
  transition: 1s;
}
.containerNumberMain {
  width: 10.938rem;
  height: 1.75rem;
  cursor: pointer;
}
.containerNumber {
  gap: 0.5rem;
  display: flex;
}
.fa-phone {
  width: 1.25rem;
  height: 1.25rem;
  color: #e1d4c9;
}
.mainNumber {
  width: 9.188rem;
  height: 1.5rem;
  color: #e1d4c9;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
}
.numberLineMain {
  width: 10.938rem;
  height: 0.1rem;
  display: flex;
  justify-content: center;
}
.numberLine {
  width: 1rem;
  background-color: #e1d4c9;
  opacity: 0;
}
.containerNumberMain:hover .numberLine {
  width: 11.375rem;
  opacity: 1;
  transition: 1s;
}
.ContainerWorkedTime {
  width: 16.375rem;
  height: 1.75rem;
  display: flex;
  gap: 0.25rem;
}
.fa-clock {
  width: 1.25rem;
  height: 1.25rem;
  color: #e1d4c9;
}
.WorkedTime {
  width: 14.625rem;
  height: 1.5rem;
  color: #e1d4c9;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  cursor: context-menu;
}
/* Конец footer ///////////////////////////////////////////////////////////*/
